
@import "additional.styl"



body
	color #0E0E0E
	height 100%
	display flex
	flex-direction column

main
	flex 1


#header
	margin 0 
	height 70px
	
.navbar
	position fixed
	top 0
	width 100%
	z-index 2
	img 
		width 150px
		height 40px
	
footer
	color #FFFFFF
	remove_link(#FFFFFF, 18px)
	h1, h2, h3, h4, h5, h6
		text-decoration underline
		color #FFFFFF

textarea
	resize none	 

.miscellaneous
	background #0A0A0A
	font-size 15px
	padding-top 80px
	margin-top 50px
	.overview
		height 300px
		li
			list-style none
			line-height 30px
		i
			padding-top 80px
	@media screen and (min-width: 410px)
		height 400px
.bottom
	background #FFFFFF
	color #0E0E0E
	
//Index


.entrance
	gradient('reserve_banner2')
	make_entrance()
	
hr.style-seven 
	line_break()
hr.style-seven::before  /* Not really supposed to work, but does */
	line_break2()

.restaurants
	margin-top 600px
	display none
	font-size 15px
	
	
.about 
	// gradient('chef_talking')
	background #eee
	width 100%
	height 400px
	// color #FFFFFF
	padding-top 60px
	display none
	// h1,h2,h3,h4,h5,h6
	// 	color #FFFFFF
.contact
	padding 50px
	height 400px
	display none

.sponsors
	background #eee
	width 100%
	height 200px
	padding-top 50px

.exit 
	gradient('table_food')
	make_entrance()
	
//About 

.ab_entrance
	gradient('chef_talking')
	make_entrance()
	
.presentation
	margin-top 600px
	img
		float right
		border-radius 30px
	.investors
		padding-top 60px
.testimony
	margin-top 50px
	height 300px
	background #eee
	
//Contact

.con_entrance
	gradient('chef2')
	make_entrance()
.con_form
	margin-top 600px
//Login

.log_entrance
	gradient('log')
	make_entrance()
.log_form
	margin-top 600px

//Register
	
.reg_entrance
	gradient('typing2')
	make_entrance()
.reg_form
	margin-top 600px
	
//Cancel
.can_entrance
	gradient('cancel')
	make_entrance()
.cancel
	margin-top 600px
	

	

	
			
	
