body {
  color: #0e0e0e;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header {
  margin: 0;
  height: 70px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.navbar img {
  width: 150px;
  height: 40px;
}
footer {
  color: #fff;
}
footer a:link,
footer a:hover,
footer a:visited,
footer a:active {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  text-decoration: underline;
  color: #fff;
}
textarea {
  resize: none;
}
.miscellaneous {
  background: #0a0a0a;
  font-size: 15px;
  padding-top: 80px;
  margin-top: 50px;
}
.miscellaneous .overview {
  height: 300px;
}
.miscellaneous .overview li {
  list-style: none;
  line-height: 30px;
}
.miscellaneous .overview i {
  padding-top: 80px;
}
@media screen and (min-width: 410px) {
  .miscellaneous {
    height: 400px;
  }
}
.bottom {
  background: #fff;
  color: #0e0e0e;
}
.entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/reserve_banner2.jpg?aa96048c1d1668c7657db86de1d83b6a);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/reserve_banner2.jpg?aa96048c1d1668c7657db86de1d83b6a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.entrance h1,
.entrance h2,
.entrance h3,
.entrance h4,
.entrance h5,
.entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
hr.style-seven {
  overflow: visible /* For IE */;
  height: 30px;
  border-style: solid;
  border-color: #000;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #000;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.restaurants {
  margin-top: 600px;
  display: none;
  font-size: 15px;
}
.about {
  background: #eee;
  width: 100%;
  height: 400px;
  padding-top: 60px;
  display: none;
}
.contact {
  padding: 50px;
  height: 400px;
  display: none;
}
.sponsors {
  background: #eee;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}
.exit {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/table_food.jpg?f7c51b94022c7f4dceda5ad8dfc05ae8);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/table_food.jpg?f7c51b94022c7f4dceda5ad8dfc05ae8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.exit h1,
.exit h2,
.exit h3,
.exit h4,
.exit h5,
.exit h6 {
  padding-top: 250px;
  color: #fff;
}
.exit p span {
  text-decoration: underline;
  font-weight: bold;
}
.ab_entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/chef_talking.jpg?da0d6b4c14b2f46c2cd32bd4c4ca4bd1);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/chef_talking.jpg?da0d6b4c14b2f46c2cd32bd4c4ca4bd1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.ab_entrance h1,
.ab_entrance h2,
.ab_entrance h3,
.ab_entrance h4,
.ab_entrance h5,
.ab_entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.ab_entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
.presentation {
  margin-top: 600px;
}
.presentation img {
  float: right;
  border-radius: 30px;
}
.presentation .investors {
  padding-top: 60px;
}
.testimony {
  margin-top: 50px;
  height: 300px;
  background: #eee;
}
.con_entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/chef2.jpg?9559fd8a0d59a0c4d95757aa9bfdd7ed);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/chef2.jpg?9559fd8a0d59a0c4d95757aa9bfdd7ed);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.con_entrance h1,
.con_entrance h2,
.con_entrance h3,
.con_entrance h4,
.con_entrance h5,
.con_entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.con_entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
.con_form {
  margin-top: 600px;
}
.log_entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/log.jpg?58c23bf4c925ec34a94e1227bb84daf8);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/log.jpg?58c23bf4c925ec34a94e1227bb84daf8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.log_entrance h1,
.log_entrance h2,
.log_entrance h3,
.log_entrance h4,
.log_entrance h5,
.log_entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.log_entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
.log_form {
  margin-top: 600px;
}
.reg_entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/typing2.jpg?fea683a6938075a836ea323e8ffc36c6);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/typing2.jpg?fea683a6938075a836ea323e8ffc36c6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.reg_entrance h1,
.reg_entrance h2,
.reg_entrance h3,
.reg_entrance h4,
.reg_entrance h5,
.reg_entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.reg_entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
.reg_form {
  margin-top: 600px;
}
.can_entrance {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(/images/cancel.jpg?9530d1af6d546dd25d8acd28b6edbaa8);
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/images/cancel.jpg?9530d1af6d546dd25d8acd28b6edbaa8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 0 auto;
  font-size: 20px;
  color: #fff;
}
.can_entrance h1,
.can_entrance h2,
.can_entrance h3,
.can_entrance h4,
.can_entrance h5,
.can_entrance h6 {
  padding-top: 250px;
  color: #fff;
}
.can_entrance p span {
  text-decoration: underline;
  font-weight: bold;
}
.cancel {
  margin-top: 600px;
}
